body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.foot{
    text-align: center;
}
@font-face {
    font-family: myFont;
    src: url(sfpro.woff);
  }
main{
    height: 100vh;
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.content{
    width:80vw ;
    height: 70%;
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    width: 60%;
    height: 80%;
    background-color: rgb(240, 242, 245);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}
.login{
    width: 50%;
    height: 100%;
    background-color:rgb(240, 242, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 2;
}
#tagline-h2{

    width: 80%;
    margin: 0;
    font-family:myFont , Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.7em;
    line-height: 28px;
    
}
#f-img{
    margin-left:-30px ;
    height: 106px;
    
}
.form-container{
    height: 80%;
    width:90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.login-form{
    height: 100%;
}
.input-div{
    height: 40%;
    margin:5px 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login-btn-div{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    margin: 0 auto;
}
.in-1,.in-2{
    border: 1px solid #dddfe2;
    text-align: center;
    width: 85%;
    background-color: white;
    border-radius: 5px;
}
input{
    background: #FFFFFF url(1px.png) repeat-x;
    border:none;
    font-family:  Helvetica, sans-serif;
    font-size: 17px;
    padding: 14px 16px;
    width: 80%;
    
}
.login-btn-div{
    height: 15%;
}
#login-btn{
    width: 83.5%;
    border: none;
    border-radius: 6px;
    background-color: #1877f2;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
.forgot-div{
    margin: 5% 0;
    text-align: center;
    
}
#forgot-tag{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #1877f2;
    font-weight: 500;
}
#rule{
    margin: 0 2%;

}
.create-btn-div{
    margin: 0 auto;
    background-color: white;
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
#create-btn{
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    line-height: 48px;
    background-color: #42b72a;
    border-radius: 6px;
    padding: 0 15px;
    cursor: pointer;
}
.pages-div{
    font-family: Arial, Helvetica, sans-serif;
}
#pages{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}


@media (max-width:1024px) {
    .content{
        width: 98vw;
    }
    .brand{
        width: 50%;
    }
    .login{
        width: 50%;
    }
}
@media (max-width:820px) {
    .content{
        width: 98vw;
    }
    .brand{
        width: 40%;
    }
    .login{
        width: 60%;
    }
}
@media (max-width:680px) {
    .content{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        
    }
    .brand{
        height: auto;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .login{
        height: 80%;
        width: 70%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}